/* New desktopwide Responsive Support
-------------------------------------------------- */
.hidden-desktopWide {
  display: none !important;
}
.visible-desktopWide {
  display: inherit !important;
}

@media (min-width: 980px) and (max-width: 1200px) {
  .hidden-desktopWide {
    display: inherit !important;
  }
  .visible-desktopwide {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktopWide {
    display: inherit !important;
  }
  .visible-desktopWide {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-desktopWide {
    display: inherit !important;
  }
  .visible-desktopWide {
    display: none !important;
  }
}
